@import url(http://fonts.googleapis.com/css?family=Roboto:400,900);

body {
	background: url('../img/bg.jpg') no-repeat bottom center fixed;
 	background-size: 100% auto;
}
html {
    height: 100%
}

h1 {
  font-family: 'Roboto', sans-serif;
  color: white;
  margin: 0;
  position: absolute;
  top: 25%;
  left: 46%;
  font-size: 12rem;
  white-space: nowrap;
  text-align: center;
}

h2 {
  font-family: 'Roboto', sans-serif;
  color: white;
  margin: 0;
  position: absolute;
  top: 35%;
  left: 46%;
  font-size: 9rem;
  white-space: nowrap;
  text-align: center;
}