@import url(http://fonts.googleapis.com/css?family=Roboto:400,900);

a {
	text-decoration: none;
	color: white;
}
a:hover { 
    background-color: yellow;
    text-decoration: none;
}
body {
	background: url('../img/bg.jpg') no-repeat bottom center fixed;
 	background-size: cover;
}
html {
    height: 100%
}

@media(min-width:768px) {
  h1 {
    font-family: 'Roboto', sans-serif;
    color: white;
    font-size: 12rem;
    white-space: nowrap;
    text-align: center;
  }

  h2 {
    font-family: 'Roboto', sans-serif;
    color: white;
    font-weight: 300;
    font-size: 3rem;
    white-space: nowrap;
    text-align: center;
  }
}

@media(max-width:768px) {
  h1 {
    font-family: 'Roboto', sans-serif;
    color: white;
    font-size: 20rem;
    white-space: nowrap;
    text-align: center;
  }

  h2 {
    font-family: 'Roboto', sans-serif;
    color: white;
    font-weight: 300;
    font-size: 5rem;
    white-space: nowrap;
    text-align: center;
  }
}
